{% extends 'EMS/base.html' %}

{% block title %} Coordinator Console {% endblock %}

{% block content %}
    <br>
    <h4>Event Management System</h4>
    <h5>Coordinator console</h5>
    {% if message %}
        <div class="red-text">
            {{ message }}
        </div>
        <br>
    {% endif %}
    <strong>Past Events</strong>
    {% if past_events %}
        <table class="striped bordered highlight z-depth-1">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Prize</th>
                <th>Judges</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in past_events %}
                <tr>
                    <td>{{ event.Name }}</td>
                    <td>{{ event.Date }}</td>
                    <td>{{ event.Time }}</td>
                    <td>{{ event.get_Venue_display }}</td>
                    <td>{{ event.Prize }}</td>
                    <td>{{ event.Judge.Name }}</td>
                    <td>
                        <a href="{% url 'view_event' event_id=event.EventId %}">
                            <input type="button" class="btn teal darken-3 waves-effect waves-light" value="View Event">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_winner' event_id=event.EventId %}">
                            <input type="button" class="btn orange darken-3 waves-effect waves-light"
                                   value="Update Winner">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="red-text">
            No events to display
        </div>
    {% endif %}
    <br>
    <strong> Upcoming Events</strong>
    {% if upcoming_events %}
        <table class="bordered striped highlight z-depth-1">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Prize</th>
                <th>Judges</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in upcoming_events %}
                <tr>
                    <td>{{ event.Name }}</td>
                    <td>{{ event.Date }}</td>
                    <td>{{ event.Time }}</td>
                    <td>{{ event.get_Venue_display }}</td>
                    <td>{{ event.Prize }}</td>
                    <td>{{ event.Judge.Name|default:'None' }}</td>
                    <td>
                        <a href="{% url 'view_event' event_id=event.EventId %}">
                            <input type="button" class="btn teal darken-3 waves-effect waves-light"
                                   value="View Details">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="red-text">
            No events to display
        </div>
    {% endif %}
    <br>
    <a href="{% url 'logout' %}">
        <input class="btn waves-effect waves-red" type="button" value="Logout">
    </a>
{% endblock %}