{% extends 'EMS/base.html' %}

{% block title %} Event Management System Administration {% endblock %}
{% block content %}
    <h4>Event Management System Administration</h4>
    <br>
    <a href="{% url 'create_event' %}" class="btn light-blue accent-3 waves-effect waves-light">Create New Event</a>
    <a href="{% url 'create_co' %}" class="btn light-blue accent-3 waves-effect waves-light">Create New Coordinator</a>
    <a href="{% url 'create_faculty' %}" class="btn light-blue accent-3 waves-effect waves-light">Create New Faculty</a>
    <a href="{% url 'create_sp' %}" class="btn light-blue accent-3 waves-effect waves-light">Create New Special
        Guest</a>
    <br>
    <br>
    {% if message %}
        <div class="green-text">{{ message }}</div>
        <br>
    {% endif %}
    <strong>List of Events</strong>
    {% if events %}
        <table class="highlight striped bordered z-depth-1">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Prize</th>
                <th>Judges</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.Name }}</td>
                    <td>{{ event.Date }}</td>
                    <td>{{ event.Time }}</td>
                    <td>{{ event.get_Venue_display }}</td>
                    <td>{{ event.Prize }}</td>
                    <td>{{ event.Judge.Name|default:'None' }}</td>
                    <td>
                        <a href="{% url 'view_event' event_id=event.EventId %}"
                           class="btn teal darken-3 waves-effect waves-light">View
                            Details</a>
                    </td>
                    <td>
                        <a href="{% url 'update_event' event_id=event.EventId %}"
                           class="btn orange darken-3 waves-effect waves-light">Update
                            Event</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_event' event_id=event.EventId %}"
                           class="btn red darken-3 waves-effect waves-light">Delete
                            Event</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="red-text">
            No events to display
        </div>
    {% endif %}
    <br>
    <a href="{% url 'logout' %}" class="btn waves-effect waves-red">Logout</a>
{% endblock %}
