{% extends 'EMS/base.html' %}

{% block title %} Participant Dashboard {% endblock %}
{% block content %}
    <h4> Welcome {{ name }},</h4>
    <h5> Event List</h5>
    {% if message %}
        <div class="green-text">
            {{ message }}
        </div>
        <br>
    {% endif %}
    <strong>Register Events:</strong>
    {% if exclude %}
        <table class="highlight striped bordered z-depth-1">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Prize</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in exclude %}
                <tr>
                    <td>{{ event.Name }}</td>
                    <td>{{ event.Date }}</td>
                    <td>{{ event.Time }}</td>
                    <td>{{ event.get_Venue_display }}</td>
                    <td>{{ event.Prize }}</td>
                    <td>
                        <a href="{% url 'register_event' event_id=event.EventId %}">
                            <input type="button" class="btn green darken-4 waves-effect waves-light" value="Register">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="red-text">
            No more events to register
        </div>
    {% endif %}
    <br>
    <strong>Already Registered Events:</strong>
    {% if include %}
        <table class="highlight striped bordered z-depth-1">
            <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Prize</th>
            </tr>
            </thead>
            <tbody>
            {% for event in include %}
                <tr>
                    <td>{{ event.Name }}</td>
                    <td>{{ event.Date }}</td>
                    <td>{{ event.Time }}</td>
                    <td>{{ event.get_Venue_display }}</td>
                    <td>{{ event.Prize }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="red-text">
            You haven't registered to any events
        </div>
    {% endif %}
    <br>
    <a href="{% url 'logout' %}">
        <input class="btn waves-effect waves-red" type="button" value="Logout">
    </a>
{% endblock %}


