<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2> Past Events</h2>
    {% for e in past_events %}
        <h3> {{ e.Name }}</h3>
        <a href="{% url 'update_winner' e.EventId %}">
            <input type="button" value="Update winner for this Event">
        </a>
    {% endfor %}
    <h2> Upcoming Events</h2>
    {% for e in upcoming_events %}
        <h3> {{ e.Name }}</h3>
    {% endfor %}
</div>
</body>
</html>