{% extends 'EMS/base.html' %}
{% block title %} Delete Event {% endblock %}

{% block content %}
    <div class="center-align">
        <h4>{{ heading }}</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn red darken-3 waves-effect waves-light">Delete</button>
        </form>
        <br>
        <a href="{% url 'dashboard_a' %}">
            <button class="btn btn-default btn-md center-block btn-block">Cancel</button>
        </a>
    </div>
{% endblock %}