{% extends 'EMS/base.html' %}
{% load material_form %}
{% block title %} Login {{ user }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col l4 offset-l4">
            <br><br>
            <div class="center-align"><h5>Event Management System</h5></div>
            <br>
            <div class="card-panel">
                <strong>{{ user }} Login:</strong>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {% if user == 'Admin' %}
                        {% form form=form %}
                            {% part form.username %}
                                <div class="row">
                                    <div class="input-field col s12" id="id_username_container">
                                        <input class="form-control" id="id_username" name="username" type="text"
                                               value="admin" readonly>
                                        <label for="id_username">Username</label>
                                    </div>
                                </div>
                            {% endpart %}
                        {% endform %}
                    {% else %}
                        {% form form=form %}
                            {% part form.username prefix %} <i class="material-icons prefix">email</i>{% endpart %}
                            {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>
                            {% endpart %}
                        {% endform %}
                    {% endif %}
                    <input type="submit" class='btn green accent-4 waves-effect waves-light' value="Login"/>
                </form>
                <br>
                <a href="{% url 'home' %}">
                    <button class="btn blue waves-effect waves-light">Cancel</button>
                </a>
                {% if error %}
                    <div class="red-text">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
                {% if message %}
                    <div class="green-text">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}