{% extends 'EMS/base.html' %}
{% load material_form %}
{% block title %} Registration {% endblock %}
{% block content %}
    <div class="row valign">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            {% if not success %}
                <div class="card">
                    <form method="POST">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-2">{% block formtitle %}New
                                Participant Registration{% endblock %}</span>
                            {% csrf_token %}
                            {% form form=form %} {% include form.template %} {% endform %}

                        </div>
                        <div class="card-action">
                            <div class="right-align">
                                <button class="waves-effect waves-light btn blue" type="submit">Submit</button>
                                <a class="waves-effect waves-light btn btn red" href="{% url 'home' %}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <h4> You have successfully registered</h4>
                <a href="{% url 'home' %}" class="waves-effect waves-light btn blue">Return Home</a>
            {% endif %}
        </div>
    </div>
{% endblock %}