{% extends 'EMS/base.html' %}
{% block title %} View Event {% endblock %}

{% block content %}
    <h4>Event Details</h4>
    <strong>Name: </strong>{{ event.Name }} <br>
    <strong>Date: </strong>{{ event.Date }} <br>
    <strong>Time: </strong>{{ event.Time }} <br>
    <strong>Venue: </strong>{{ event.get_Venue_display }} <br>
    <strong>Judge: </strong>{{ event.Judge.Name }} <br>
    <strong>Registration Fee: </strong>{{ event.RegistrationFee }} <br>
    <strong>Prize: </strong>{{ event.Prize }} <br>
    <strong>Coordinaters: </strong>
    {% for c in coord %}
        {{ c.Coordinator.Name }}
    {% endfor %}
    <br>
    {% if event.Winner is not None %}
        <strong>Winner: </strong>{{ event.Winner.Name }}<br>
    {% endif %}
    {% if event.SpecialGuest is not None %}
        <strong>Special Guest: </strong>{{ event.SpecialGuest.Name }}<br>
    {% endif %}
    <strong>Total Participants Registered: </strong>{{ participants.count }} <br>
    <br>
    <h5>List of Participants</h5>
    {% if participants.count == 0 %}
        <div class="red-text">
            No participants registered for this event
        </div>
    {% else %}
        <table class="bordered striped highlight z-depth-1">
            <thead>
            <tr>
                <th>Name</th>
                <th>MailId</th>
                <th>PhoneNo</th>
                <th>City</th>
                <th>RegNo</th>
                <th>College</th>
            </tr>
            </thead>
            <tbody>
            {% for p in participants %}
                <tr {% if winner == p %} class="green" {% endif %}>
                    <td>{{ p.Name }}</td>
                    <td>{{ p.MailId }}</td>
                    <td>{{ p.PhoneNo }}</td>
                    <td>{{ p.City }}</td>
                    <td>{{ p.RegNo }}</td>
                    <td>{{ p.College }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
    <a href="{% if type == 'a' %}{% url 'dashboard_a' %} {% else %}{% url 'dashboard_c' %} {% endif %}"
       class="btn light-blue accent-3 waves-effect waves-light">Back to Dashboard</a>
    {% if event.Winner is not None %}
        <a href="{% url 'generate' event_id=event.EventId %}"
           class="btn light-blue accent-3 waves-effect waves-light">Generate Certificate</a>
    {% endif %}
    {% if type == 'a' %}
        <a href="{% url 'delete_event' event_id=event.EventId %}" class="btn red darken-3 waves-effect waves-light">Delete
            Event</a>
    {% endif %}
{% endblock %}